#id-selector{
	
}

.class-selector{
	
}

.center{
	text-align: center;
}

.border{
	border: solid black 1px;
}

.title{
	font-size: 26;
	padding-bottom: 10px;
}

.description{
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar{
	background-color: #ddebdd;
}

#learn-button{
	background-color: #b5cfa3;
	border: #bdd6ac;
	color: black;
}

.navbar-brand{
	color: black;
}