#home{
	height: 125px;
	margin-left: 75px;

}
#id-selector{
	
}

#image-row{
	height: 150px;
}

.class-selector{
	
}

#question{
	font-size: 20;
}

.btn{
	color: #6D6D6D;
}

.center{
	text-align: center;
}

.border{
	border: solid black 1px;
}

.title{
	font-size: 26;
	padding-bottom: 10px;
}

.description{
	padding-top: 10px;
	padding-bottom: 10px;
}

#description{
	color: #6D6D6D;
}

.navbar{
	background-color: #e1edd8;
}

#learn-button{
	background-color: #b5cfa3;
	border: #bdd6ac;
	color: black;
}

.navbar-brand{
	color: black;
}

.drop-answer{
	height: 50px;
	border: 1px solid gray;
}

.correct{
	color: green;
	font-weight: bold;
}

.incorrect{
	color: red;
}

.ui-draggable{
	z-index:999999;
}