

#name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 5px 0px;
    font-weight: bold;
}

#image{
    padding:10px;
    justify-content: center;
}
#image{
    width: 650px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #9ac9b3;
    border-color: white;
    margin-bottom: 20px;
    padding:0px;
    outline:none;
}

#image:hover{
    cursor:pointer;
}

#image img{
    width: 650px;
    height: 450px;
    border-radius: 10px;
}

#description{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}
.descriptionBullet{
    position:relative;
    left: 10%;
}

#map{
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#backButton{
    background-color: #9ac9b3;
    color:#43544c;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
#countryLabel{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-bottom: 20px;
}
#countrylabel span{
    font-weight: bold;
}
#next{
    background-color: #9ac9b3;
    color:#43544c;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}


