{% extends "layout.html" %}

{% block content %}

<script>
</script>
<script src="../static/homepage.js"></script>

<div class="col-12">
	<div class="row center">
		<div class="col-12 center title">
			Determine the Country of Origin of Desserts
		</div>
	</div>
	<div class="row center">
		<div class="col-12 center description">
			Have you ever wanted to know the country of origin of your favorite
			desserts? Use this site to learn more about the origin of desserts
			from all over the world and then test your knowledge to see if you
			are a dessert origin expert!
		</div>
	</div>
	<div class="row center">
		<div class="col-12 center">
			<a href="/learn">
				<button class="btn btn-primary" id="learn-button">Start Learning</button>
			</a>
		</div>
	</div>
</div>

{% endblock %}