<html>

	<head>
	
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

		<link href="../static/main.css" rel="stylesheet" type"text/css">
		<script src="../static/layout.js"></script>
		
		<div class="container">
		</div>
		
	</head>
	
	<body class="background">
		<div class="container">
			<div class="navbar">
				<a class="navbar-brand" href="/">Desserts</a>
				<a href="/learn/NorthAmerica">
					<button class="btn menu-element" id="north-america">North America</button>
				</a>
				<a href="/learn/Asia">
					<button class="btn menu-element" id="asia">Asia</button>
				</a>
				<a href="/learn/Europe">
					<button class="btn menu-element" id="europe">Europe</button>
				</a>
				<a href="/quiz">
					<button class="btn menu-element" id="quiz">Quiz</button>
				</a>
			</div>
			
			{% block content %}
			
			
			{% endblock %}
			
		</div>
	</body>
	
</html>