{% extends "layout.html" %}

{% block content %}

<script>

	let desserts = {{desserts|tojson}}
	let question = {{question|tojson}}
	let question_value = {{question_value|tojson}}
	let user = {{user|tojson}}
		
</script>
<script src="../static/quiz.js"></script>
<link href="../static/quiz.css" rel="stylesheet" type="text/css">


<div class="col-12">
	<div class="row">
		<div id="title" class="col-9 border">
			Question
		</div>
	</div>
	<div class="row">
		<div class="col-8 border">
			<div id="question" class="row">
			</div>
			<div id="answers" class="row">
				<form>
					<input type="radio" id="option-1" name="answers" value="1">
					<label for="1"></label>
  					<input type="radio" id="option-2" name="answers" value="2">
					<label for="2"></label>
  					<input type="radio" id="option-3" name="answers" value="3">
					<label for="3"></label>
					<input type="radio" id="option-4" name="answers" value="4">
					<label for="4"></label>
				</form>
			</div>
		</div>
		<div class="col-4">
			<div id="map" class="row border">
			</div>
			<div class="row border">
				<button id="next"></button>
			</div>
		</div>
	</div>
</div>

{% endblock %}