{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'view_dessert.js') }}"></script>
<script>

	let data = {{data|tojson}}
	let id = {{id|tojson}}
	
</script>

<link rel="stylesheet" href="{{url_for('static', filename='view_dessert.css')}}">

<div class="containter">
	<div class="row">
		<div class="col-8">
				<div class="row">
					<div id="name"></div>
				</div>
				<div class="row flashcard">
					<button id="image">
					<div id="description">
						<ul id="descriptionItem"></ul>
					</div>
					</button>
				</div>
				<div class="row">
					<div id="back">
						<button id="backButton">Back</button>
					</div>
				</div>
		</div>
		<div class="col-4" id="mapCol">
			<div class="row">
				<div id="countryLabel">Country Selected:</div>
			</div>
			<div class="row">
				<div id="mapImg"></div>
			</div>
			<div class="row">
				<div id="nextButtonDiv"> 
					<button id="next">Next</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}